<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/firacode/6.2.0/fira_code.min.css"
/>

<div class="w-full max-w-3xl mx-auto my-10">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Información de la aplicación">
            <form>
                <!-- Section -->
                <div class="grid sm:grid-cols-2 gap-8 w-full mb-8">
                    <div class="w-full col-span-1">
                        <div class="text-3xl font-bold">Crear aplicacion</div>
                        <div class="text-secondary">
                            Ingresa la informacion para crear un aplicacion
                        </div>
                    </div>
                    <div class="col-span-1 relative"></div>
                </div>
                <div
                    [formGroup]="entityFormGroup"
                    class="grid sm:grid-cols-2 gap-y-1 gap-x-5 w-full mt-8"
                >
                    <div class="col-span-1">
                        <mat-form-field class="w-full">
                            <mat-label>Nombre</mat-label>

                            <input
                                id="name"
                                type="text"
                                formControlName="name"
                                matInput
                            />

                            <mat-error
                                *ngFor="
                                    let i of _globalService.errorsLength(
                                        entityFormGroup.get('name')
                                    )
                                "
                            >
                                <ng-container
                                    *ngIf="
                                        entityFormGroup.get('name').hasError(i)
                                    "
                                >
                                    {{ entityFormGroup.get("name").errors[i] }}
                                </ng-container>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div>
                    <div
                        id="output"
                        class="fira-code text-sm max-h-120 overflow-auto"
                        style="
                            background: #e5e5e5;
                            border-radius: 10px;
                            padding: 30px;
                            text-align: left;
                            border: 2px solid gray;
                            display: flex;
                            flex-direction: column;
                        "
                    >
                        <div>Output:</div>
                        <pre>
                                        {{processOutput}}
                                        <hr>
                                    </pre>
                    </div>
                </div>

                <!-- Divider -->
                <div class="mt-11 mb-10 border-t"></div>
                <!-- Actions -->
                <div class="flex items-center justify-end">
                    <button
                        class="ml-4"
                        mat-flat-button
                        type="button"
                        (click)="abort()"
                        [color]="'primary'"
                    >
                        Cancelar
                    </button>
                    <button
                        class="ml-4"
                        mat-flat-button
                        type="button"
                        (click)="
                            this.entityID ? updateEntity() : createEntity()
                        "
                        [color]="'primary'"
                    >
                        Guardar
                    </button>
                </div>
            </form>
        </mat-tab>
        <mat-tab label="Entidades">
            <app-manage-entities></app-manage-entities>
        </mat-tab>
    </mat-tab-group>
</div>
