<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel style="background: #e5effd">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="flex w-full">
                <div class="flex gap-3 w-1/2">
                    <mat-icon *ngIf="!field.get('built_edition').value" matTooltip="Esta campo no ha sido renderizado desde la ultima vez que se edito" class="text-red-500">error_outline</mat-icon>
                    <mat-icon *ngIf="field.get('built_edition').value" matTooltip="Renderizado" class="text-green-500">check_circle_outline</mat-icon>
                    <div class="text-xl text-black font-semibold">{{ field.get('label').value || 'Nombre del campo' }}</div>
                </div>
                <div class="w-1/2">
                    <div class="w-fit ml-auto">
                        <mat-icon (click)="deleteField($event, field.get('id').value)" matTooltip="Eliminar entidad" class="text-red-500 cursor-pointer">delete</mat-icon>
                    </div>
                </div>
            </div>

        </mat-panel-title>
    </mat-expansion-panel-header>

    <div [formGroup]="field" class="grid sm:grid-cols-2 gap-y-1 gap-x-5 w-full mt-8">
        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="code">
        <input type="hidden" formControlName="built_edition">
        <div class="col-span-1">
            <mat-form-field class="w-full">
                <mat-label>Nombre</mat-label>
                <input id="text" type="text" formControlName="name" matInput />
                <mat-error *ngFor="let i of _globalService.errorsLength(field.get('name'))">
                    <ng-container *ngIf="field.get('name').hasError(i)">
                        {{ field.get("name").errors[i] }}
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-span-1">
            <mat-form-field class="w-full">
                <mat-label>Label</mat-label>
                <input id="label" type="text" formControlName="label" matInput />
                <mat-error *ngFor="let i of _globalService.errorsLength(field.get('label'))">
                    <ng-container *ngIf="field.get('label').hasError(i)">
                        {{ field.get("label").errors[i] }}
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-span-1">
            <mat-form-field class="w-full">
                <mat-label>Tipo de dato</mat-label>
                <mat-select id="field_type_id" type="text" formControlName="field_type_id">
                    <mat-option *ngFor="let type of options?.field_types" [value]="type.id">{{type.name}}</mat-option>
                </mat-select>
                <mat-error *ngFor="let i of _globalService.errorsLength(field.get('field_type_id'))">
                    <ng-container *ngIf="field.get('field_type_id').hasError(i)">
                        {{ field.get("field_type_id").errors[i] }}
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-span-1">
            <mat-form-field class="w-full">
                <mat-label>Tipo de campo</mat-label>
                <mat-select id="input_type_id" type="text" formControlName="input_type_id">
                    <mat-option *ngFor="let inputType of options?.input_types" [value]="inputType.id">{{inputType.name}}</mat-option>
                </mat-select>
                <mat-error *ngFor="let i of _globalService.errorsLength(field.get('input_type_id'))">
                    <ng-container *ngIf="field.get('input_type_id').hasError(i)">
                        {{ field.get("input_type_id").errors[i] }}
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-span-2">
            <mat-form-field class="w-full">
                <mat-label>Opciones del campo (Separadas por coma)</mat-label>
                <input id="options" type="text" formControlName="options" matInput />
                <mat-error *ngFor="let i of _globalService.errorsLength(field.get('options'))">
                    <ng-container *ngIf="field.get('options').hasError(i)">
                        {{ field.get("options").errors[i] }}
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-span-1">
            <label class="example-margin">Incluir campo como filtro en la lista</label>
            <div>
                <mat-radio-group formControlName="searchable">
                    <mat-radio-button class="example-margin" [value]="true">Si</mat-radio-button>
                    <mat-radio-button class="example-margin" [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="col-span-1">
            <label class="example-margin">Editable</label>
            <div>
                <mat-radio-group formControlName="editable">
                    <mat-radio-button class="example-margin" [value]="true">Si</mat-radio-button>
                    <mat-radio-button class="example-margin" [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="col-span-1">
            <label class="example-margin">Visible</label>
            <div>
                <mat-radio-group formControlName="visible">
                    <mat-radio-button class="example-margin" [value]="true">Si</mat-radio-button>
                    <mat-radio-button class="example-margin" [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="col-span-2">
            <hr>
        </div>

        <div class="col-span-2">
            <div class="text-xl mb-5 text-black font-semibold">Propiedades SQL</div>
        </div>

        <ng-container [formGroup]="field.get('sqlProperties')">
            <input type="hidden"  formControlName="id">
            <div class="col-span-1">
                <mat-form-field class="w-full">
                    <mat-label>Tipo de columna SQL</mat-label>
                    <mat-select id="sql_property_type_id" type="text" formControlName="sql_property_type_id">
                        <mat-option *ngFor="let sqlPropertyType of options?.sql_property_types;" [value]="sqlPropertyType.id">{{sqlPropertyType.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-span-1">
                <mat-form-field class="w-full">
                    <mat-label>Entidad Relacionada</mat-label>
                    <mat-select id="related_entity_id" type="text" formControlName="related_entity_id">
                        <mat-option *ngFor="let entity of entitiesFormArray.controls" [value]="entity.get('code').value">{{entity.get('label').value}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-span-1">
                <mat-form-field class="w-full">
                    <mat-label>Longitud</mat-label>
                    <input id="length" type="text" formControlName="length" matInput />
                </mat-form-field>
            </div>

            <div class="col-span-1">
                <label>Nullable</label>
                <div>
                    <mat-radio-group formControlName="nullable">
                        <mat-radio-button class="example-margin" [value]="true">Si</mat-radio-button>
                        <mat-radio-button class="example-margin" [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>


        </ng-container>


        <div class="col-span-2">
            <hr>
        </div>

        <div class="col-span-2">
            <div class="text-xl mb-5 text-black font-semibold">Validaciones</div>
        </div>

        <ng-container>

            <div class="col-span-2">
                <mat-form-field class="w-full">
                    <mat-label>Validaciones</mat-label>
                    <mat-select [formControl]="validationControl">
                        <mat-option *ngFor="let validation of validationListed" [value]="validation.id">{{validation.label}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-span-2" *ngFor="let validation of validations.controls; let i = index">
                <div class="grid sm:grid-cols-10 gap-y-1 gap-x-4 w-full" [formGroup]='validation'>
                    <div [class.col-span-4]="getValidation(validation.get('validation_id').value)?.extra_info"
                        [class.col-span-8]="!getValidation(validation.get('validation_id').value)?.extra_info"
                    >
                        <mat-form-field class="w-full">
                            <mat-label>Validación #{{i}}</mat-label>
                            <input [disabled]="true" type="text" matInput [value]="getValidation(validation.get('validation_id').value)?.label">
                        </mat-form-field>
                    </div>
                    <div class="col-span-4" *ngIf="getValidation(validation.get('validation_id').value).extra_info">
                        <mat-form-field class="w-full">
                            <mat-label>{{getValidation(validation.get('validation_id').value)?.label}}</mat-label>
                            <input type="text" matInput formControlName="value">
                        </mat-form-field>
                    </div>
                    <div class="col-span-2 flex justify-center items-center">
                        <button mat-mini-fab class="bg-red-400 w-full" (click)="removeValidation(i)">
                            <mat-icon class="text-red-800">delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>


            <!-- <div class="col-span-1">
                <mat-form-field class="w-full">
                    <mat-label>Back</mat-label>
                    <input id="back" type="text" formControlName="back" matInput />
                </mat-form-field>
            </div> -->

        </ng-container>

    </div>


    </mat-expansion-panel>
</mat-accordion>
